div.pq-grid{
	border:1px solid tan;
}
div.pq-header-outer{
	background:linen;/* peachpuff;*/
}
span.pq-grid-header{
	background:url('images/column-header-bg.png');
	/*background: #f1f1f1; /* for non-css3 browsers */
	background-image: linear-gradient(#fefefe,#e6e6e6);

	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f9ccca'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f9ccca)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #fefefe,  #f9ccca); /* for firefox 3.6+ */
}

div.pq-grid-header td{
	/*background:url('images/column-header-bg.gif');*/	
}
.pq-grid-header td.pq-col-sort-asc,.pq-grid-header td.pq-col-sort-desc{
	background: url(images/column-header-over-bg.gif) #ebf3fd;								
}

/*background for odd rows*/
tr.pq-grid-oddRow td{
	background:snow; /*cornsilk; /*lemonchiffon;*/
	
}
tr td.pq-grid-number-cell{
	background-color:crimson;/*#e4ecf7;*/	
	border-color:peachpuff; /*peachpuff;/*#9eb6ce;*/
	color:lightyellow;
	text-align:center;
	cursor:url('images/pointer.cur'),auto;
}
tr td.pq-last-freeze-col{
	border-right:1px solid crimson;
}						
div.pq-grid-top{	
	background:linen; /*peachpuff;*/
}
div.pq-grid-title{
	border-bottom:1px solid tan;
}
div.pq-grid-toolbar	
{
    border-bottom:1px solid tan;
}
div.pq-grid-bottom{
	border-top:1px solid tan;
	background:linen; /* peachpuff;*/
}
div.pq-grid-footer{
		
}	
div.pq-hvscroll-square{
	background:linen; /*peachpuff;*/
}			

/*hover and selection styles *************************************************************/

tr.pq-grid-row-hover td
{
    background-color:bisque;  
}     
/*row selection*/
div.pq-grid tr.pq-row-select td
{
    background-color:crimson;  
    color:#fff;
}
div.pq-grid tr td.pq-grid-cell-hover
{
    background-color:bisque;  
} 
    
 /*restore background of number cell*/
tr td.pq-grid-number-cell
{
    background-color:crimson; /*#f1ddcf; /*seashell; /*bisque;*/
    color:#fff; 
}   
    
div.pq-grid tr td.pq-cell-select
{
    background-color:crimson;  
    color:#fff;
}    

/*for scrollbar*/

.pq-scrollbar-vert div.top-btn,.pq-scrollbar-vert div.bottom-btn{
	background-image:url(images/sprite.png);
}
.pq-scrollbar-horiz div.left-btn,.pq-scrollbar-horiz div.right-btn{
	background-image:url(images/sprite.png);		
}


.pq-sb-slider *,.pq-sb-slider-h *{
	background-image:url(images/sprite.png);
}

.pq-sb-slider .vert-slider-bg{
	background:#B6CEFB url(images/vert-slider-bg.png);
}
.pq-sb-slider-h .horiz-slider-bg{
	background:#B6CEFB url(images/horiz-slider-bg.png);
}
